.home-container {
  background-color: #0A0635;
  min-height: 100vh;   
  width: 100%;
  display: flex;
  flex-direction: column;  
}


.main-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.home-text {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.highlight {
  color: #ff7020;
}

.home-description {
  font-size: 18px;
  color: #cccccc;
  line-height: 1.6;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  gap: 25px;
}

.main-action-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  min-width: 220px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.main-action-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

.denuncia-btn {
  background-color: #d32f2f;
  color: #ffffff;
}

.denuncia-btn:hover {
  background-color: #b12020;
}

.empresas-btn {
  background-color: #e6e6e6;
  color: #0f103b;
}

.empresas-btn:hover {
  background-color: #d5d5d5;
}
