.empresas-page {
  background-color: #F3F3F3;
  min-height: 100vh;
  padding-top: 140px;
  text-align: center;
  padding-bottom: 40px;
}

.empresas-title {
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.empresas-sub {
  color: black;
  font-size: 16px;
  margin-bottom: 40px;
}

.empresas-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}
