.header {
  width: 100%;
  height: 100px;
  background: #110C3C; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header span {
  font-size: 20px;
  font-weight: 400;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo {
  height: 80px;
  width: 80px;
}

.header-title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
}

.header nav ul li a:hover {
  color: #D7C1F3;
}

.btn-denuncia{
  display: inline-block;
  padding: 8px 16px;
  background-color: #FF0000; 
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.link-home {
  color: #FF7825 !important;
}

    
.btn-denuncia:hover {
    background-color: #FF0000; 
}

@media (max-width: 600px) {
  .header {
    padding: 0 20px;
  }

  .header nav ul {
    gap: 15px;
  }

  .header nav ul li a {
    font-size: 14px;
  }

  .logo {
    font-size: 22px;
  }


}
